# ==========================================
# FORENSIC AI PLATFORM - FRONTEND ENVIRONMENT
# ==========================================

# NEXT.JS CONFIGURATION
NEXT_PUBLIC_API_URL=http://localhost:5000

# SUPABASE INTEGRATION
NEXT_PUBLIC_SUPABASE_URL=https://gwetvoliootsiqeixwtj.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd3ZXR2b2xpb290c2lxZWl4d3RqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMTEzMTcsImV4cCI6MjA5Mzg4NzMxN30.mi6aXUMD2deRYpy-L32Wi4BfjgeghgZPk8hyn-qUR7w

# CLERK AUTHENTICATION
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Ym9sZC1yYW0tNDQuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_lR4C92H9VndNSMd7mS4IPh7Xqt63cT3cNW9LONw2La
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_DISABLE_AUTH=false
